
*{
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    width: 85%;
}

#contenedor{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}


.header{
    background: cornflowerblue;
    color: white;
    height: 60px;
}

.logo{
    text-transform: uppercase;
}

.logo a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacion{
    background: darkblue;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    text-align: right;
} 

.footer{
    background: cornflowerblue;
    color: white;
    text-align: center;
    height: 30px;
}

.main{
    width: 70%;
    background: grey;

}

.div{
    background: white;
    width: 98%;
    margin-left: 6px;
    margin-right: 5px;
    margin-top: 5px;
}